$blue: #74c4c8;
$pink: #ec7277;
$white: #e1ecde;
$green: #079554;

body {
  background-color: $blue;
  margin: 0;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}

.face {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vmin;
  height: 70vmin;
  border-radius: 50%;
  position: relative;
  background: radial-gradient( ellipse at center, $pink, $pink 60%, $white calc( 60% + 1px ), $white 63%, $green calc( 63% + 1px ), $green 68%, darken( $green, 8 ) calc( 68% + 1px ));
  box-shadow:
  -0.3vmin -0.3vmin 0.1vmin $white,
  3vmin 3vmin 0.1vmin darken( $blue, 15 ),
  // 6vmin 6vmin 0.1vmin darken($blue, 10),
  // 9vmin 9vmin 0.1vmin darken($blue, 5),
  // 12vmin 12vmin 0.1vmin darken($blue, 15),
  // 15vmin 15vmin 0.1vmin darken($blue, 15),
  // 18vmin 18vmin 0.1vmin darken($blue, 15),
  // 21vmin 21vmin 0.1vmin darken($blue, 15),
  // 24vmin 24vmin 0.1vmin darken($blue, 15),
  // 27vmin 27vmin 0.1vmin darken($blue, 15),
  // 30vmin 30vmin 0.1vmin darken($blue, 15),
  // 33vmin 33vmin 0.1vmin darken($blue, 15),
  // 36vmin 36vmin 0.1vmin darken($blue, 15),
  // 39vmin 39vmin 0.1vmin darken($blue, 15),
  // 42vmin 42vmin 0.1vmin darken($blue, 15),
  // 45vmin 45vmin 0.1vmin darken($blue, 15),
  // 48vmin 48vmin 0.1vmin darken($blue, 15),
  // 51vmin 51vmin 0.1vmin darken($blue, 15),
  // 54vmin 54vmin 0.1vmin darken($blue, 15)
  ;

  &:after {
    content: '';
    display: block;
    width: 3.5vmin;
    height: 3.5vmin;
    border-radius: 50%;
    background-color: lighten($pink, 20);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.quarter {
  // background-color: rgba($color: yellow, $alpha: 0.5);
  height: 88%;
  width: 88%;
  // border-radius: 50%;
  position: absolute;

  div {
    height: 10%;
    width: 2.4%;
    background-color: darken( $pink, 20 );
    position: absolute;

    &:nth-child( even ) {
      transform: rotate( 90deg );
      top: 50% - 1.2%;
    }

    &:nth-child( odd ){
      left: 50% - 1.2%;
    }

    &:nth-child( 1 ) {
      top: 3%;
    }

    &:nth-child( 2 ) {
      right: 7%;
    }

    &:nth-child( 3 ) {
      bottom: 3%;
    }

    &:nth-child( 4 ) {
      left: 7%;
    }
  }
}

.seeds {
  width: 85%;
  height: 85%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  div {
    display: block;
    height: 3.5vmin;
    width: 2vmin;
    background-color: darken( $pink, 15 );
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    position: absolute;

    @for $i from 1 through 15 {
      &:nth-child( #{ $i }) {
        top: random(80) + 1%;
        left: $i * 6%;
        transform: rotate( #{ random(360) }deg );
      }
    }
  }
}

.hands {
  div {
    position: absolute;
    bottom: 50%;
    border-radius: 1vmin;
    transform-origin: 50% 100%;
    transform: rotate( 0 );

    &.h {
      height: 27%;
      width: 2.4%;
      left: 50% - 1.2%;
      background-color: darken( $pink, 44 );
    }

    &.m {
      height: 40%;
      width: 2.4%;
      left: 50% - 1.2%;
      background-color: darken( $pink, 33 );
    }

    &.s {
      height: 50%;
      width: 1%;
      left: 50% - 0.5%;
      bottom: 40%;
      transform-origin: 50% 80%;
      background-color: lighten( $pink, 20 );
    }
  }
}
