// $pink-hr: #663234;
// $pink-min: #a35255;
// $pink-sec: #ffc1cd;
// $blue-dark: #6bb7ba;
$blue: #74c4c8;
$pink: #ec7277;
$white: #e1ecde;
$green: #079554;

$seeds: ( 'seed');

body {
  background-color: $blue;
  margin: 0;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}

.wm {
  width: 70vmin;
  height: 70vmin;
  border-radius: 50%;
  background: radial-gradient( ellipse at center, $pink, $pink 60%, $white calc( 60% + 1px), $white 63%, $green calc( 63% + 1px ), $green 68%, darken( $green, 8 ) calc( 68% + 1px ));
  position: relative;
  box-shadow:
  -0.3vmin -0.3vmin 0.1vmin $white,
  0.3vmin 0.3vmin 0.1vmin darken( $blue, 35 ),
  3vmin 3vmin 0.1vmin darken( $blue, 15 ),
  // 6vmin 6vmin 0 darken( $blue, 22 ),
  // 9vmin 9vmin 0 darken( $blue, 22 ),
  // 12vmin 12vmin 0 darken( $blue, 22 ),
  // 15vmin 15vmin 0 darken( $blue, 22 ),
  // 18vmin 18vmin 0 darken( $blue, 22 ),
  // 21vmin 21vmin 0 darken( $blue, 22 ),
  // 24vmin 24vmin 0 darken( $blue, 22 ),
  // 27vmin 27vmin 0 darken( $blue, 22 ),
  // 30vmin 30vmin 0 darken( $blue, 22 ),
  // 33vmin 33vmin 0 darken( $blue, 22 ),
  // 36vmin 36vmin 0 darken( $blue, 22 ),
  // 39vmin 39vmin 0 darken( $blue, 22 ),
  // 42vmin 42vmin 0 darken( $blue, 22 ),
  // 45vmin 45vmin 0 darken( $blue, 22 ),
  // 48vmin 48vmin 0 darken( $blue, 22 ),
  // 51vmin 51vmin 0 darken( $blue, 22 ),
  // 54vmin 54vmin 0 darken( $blue, 22 ),
  // 57vmin 57vmin 0 darken( $blue, 22 ),
  // 60vmin 60vmin 0 darken( $blue, 22 ),
  ;

  &:after {
    content: '';
    display: block;
    width: 3.5vmin;
    height: 3.5vmin;
    border-radius: 50%;
    background-color: darken( $pink, 21 );
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
  }
}

.clock-hands {
  div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( 0, -50% );
    transform-origin: 50% 100%;
    // transform: rotate(95deg);

    &.h {
      // transform: rotate(95deg);
      width: 20vmin;
      height: 1.5vmin;
      background-color: darken( $pink, 42 );
    }

    &.m {
      width: 28vmin;
      height: 1.5vmin;
      background-color: darken( $pink, 28 );
    }

    &.s {
      left: 40%;
      width: 35vmin;
      height: 0.6vmin;
      background-color: lighten( $pink, 20 );
    }
  }
}

.seeds {
  div {
    display: block;
    width: 3.5vmin;
    height: 2vmin;
    background-color: darken( $pink, 15 );
    border-radius: 50%;
    position: absolute;
    top: 40vmin;
    left: 40vmin;
  }
}
