body {
  background-color: #74c4c8;
  margin: 0;
}

.outer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wm {
  width: 70vmin;
  height: 70vmin;
  border-radius: 50%;
  background: radial-gradient(ellipse at center, #ec7277, #ec7277 60%, #e1ecde calc( 60% + 1px), #e1ecde 63%, #079554 calc( 63% + 1px), #079554 68%, #056e3e calc( 68% + 1px));
  position: relative;
  -webkit-box-shadow: -0.3vmin -0.3vmin 0.1vmin #e1ecde, 0.3vmin 0.3vmin 0.1vmin #276063, 3vmin 3vmin 0.1vmin #44a7ac;
          box-shadow: -0.3vmin -0.3vmin 0.1vmin #e1ecde, 0.3vmin 0.3vmin 0.1vmin #276063, 3vmin 3vmin 0.1vmin #44a7ac;
}

.wm:after {
  content: '';
  display: block;
  width: 3.5vmin;
  height: 3.5vmin;
  border-radius: 50%;
  background-color: #d61d24;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.clock-hands div {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.clock-hands div.h {
  width: 22vmin;
  height: 1.2vmin;
  background-color: #781014;
}

.clock-hands div.m {
  width: 28vmin;
  height: 1.2vmin;
  background-color: #b7191f;
}

.clock-hands div.s {
  width: 28vmin;
  height: 0.5vmin;
  background-color: #f8ccce;
}

.seeds div {
  display: block;
  width: 3.5vmin;
  height: 2vmin;
  background-color: #e32f36;
  border-radius: 50%;
  position: absolute;
  top: 40vmin;
  left: 40vmin;
}
